.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
}

form {
  display: flex;
  gap: 20px;
  align-items: center;
}

.decks,
.cards {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 0;
  padding: 0;
}

.decks li,
.cards li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  height: 120px;
  background: white;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
}

.decks li:hover,
.cards li:hover {
  background: #e6e6e6;
}

.delete-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.delete-button:hover {
  scale: 1.1;
}
