#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.decks {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0;
  padding: 0;
}

.decks li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  height: 120px;
  background: white;
  border: 1px solid grey;
  border-radius: 10px;
}

.decks li:hover {
  background: #e6e6e6;
  cursor: pointer;
}
